body {
  background: rgba(34 36 38 /0.05);
}

.App {
  padding: 1rem;
}

h1 {
  text-align: center;
}

.SearchField {
  margin-bottom: 1rem;
}

.Sorting-criterions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.ui.form .inline.fields {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.form .ui.dropdown {
  max-width: 7rem;
}

.ui.radio.checkbox {
  margin-right: 0.5rem;
}

.ui.radio.checkbox:last-of-type {
  margin-right: 1.5rem;
}

.StoriesList {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.4rem;
  padding: 1rem !important;
  background-color: #fff;
}

.StoriesList--empty {
  background-color: transparent;
  border-color: transparent;
  padding: 1rem 0 !important;
}

.StoriesList p {
  margin: 0 0 0.3rem 0;
}

.StoriesList p span {
  display: block;
}

.StoriesList .ui.item {
  padding-bottom: 1rem !important;
}

.StoriesList .ui.item a .icon {
  position: relative;
  left: 0.3rem;
  top: -0.2rem;
}

@media only screen and (min-width: 375px) {
  .Stories-search-bar .ui.form .ui.dropdown {
    margin-top: 0 !important;
  }

  .Sorting-criterions {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    text-align: left;
  }

  .Stories-search-bar {
    display: flex;
    justify-content: space-between;
  }

  .Stories-search-bar .SearchField {
    width: calc(100% - 350px);
  }

  .Stories-search-bar .ui.form {
    width: 330px;
  }

  .StoriesList p span {
    display: inline-block;
    margin-right: 1rem;
  }

  .StoriesList p span:last-child {
    margin-right: 0;
  }
}
